VITE_SUPABASE_ANON_KEY=your_supabase_anon_key_here
VITE_SUPABASE_URL=your_supabase_url_here
VITE_OWNER_PASSWORD=your_owner_password
VITE_EMPLOYEE_PASSWORD=your_employee_password
VITE_VIEWER_PASSWORD=your_viewer_password
